.el {
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  border: 1px solid grey;
}
.el:first-child {
  border-bottom-left-radius: 4px;
}
.el:last-child {
  border-bottom-right-radius: 4px;
}
.span {
  /* display: block; */
}
